<p-toast />

<app-header />

<div class="container border-1 border-200">
  <ngx-graph
    *ngIf="isGraphReady"
    [links]="graphLinks"
    [nodes]="graphNodes"
    [curve]="curve"
    layout="d3ForceDirected"
  >
    <ng-template #defsTemplate>
      <svg:marker
        id="arrow"
        viewBox="0 -5 10 10"
        refX="8"
        refY="0"
        markerWidth="4"
        markerHeight="4"
        orient="auto"
      >
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
      </svg:marker>
    </ng-template>

    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <svg:rect
          [attr.width]="node.dimension.width"
          [attr.height]="node.dimension.height"
          [attr.fill]="node.data.color"
        />
        <svg:text
          alignment-baseline="central"
          [attr.x]="10"
          [attr.y]="node.dimension.height / 2"
        >
          {{ node.label }}
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>

<div class="flex gap-3 mt-3 pb-3 align-items-center justify-content-center">
  <p-button (click)="initializeGrid()" label="Get Graph" size="small" />
  <p-button
    (click)="startSimulation()"
    label="Start Simulation"
    size="small"
    severity="success"
  />
  <p-button
    (click)="stopSimulation()"
    label="Stop Simulation"
    size="small"
    severity="danger"
  />
  <p-button (click)="manuallyMove()" label="Manually Move" size="small" />

  <p-button (click)="createOrder()" label="Create Order" size="small" />

  <p>{{coins}}</p>

  <p>Next move in: {{nextMoveTimeSpan}}</p>
</div>


<div *ngFor="let message of messages">
  {{ message }}
</div>